.preloader {
  display: flex;
  justify-content: center;
}

.rotate {
  animation: rotation 1s infinite linear;
}

.loader-hide {
  display: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.btn_sort {
  background-color: rgba(0, 0, 255, 0.678) !important;
  color: white !important;
  margin-left: auto !important;
}

.dropdown {
    text-align: right;
    margin-right: 20px;
}
